html, body {
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

/* Página principal */
.pag_principal {
    background-color: #222121;
    padding: 15px; /* Reduzido em 5px */
}

/* Logo do LEEC */
.logo-LEEC img {
    display: flex;
    width: 80px;
    height: auto;
    float: right;
    margin-top: 85px; /* Reduzido em 5px */
}

/* Nome do curso */
.nome-curso img {
    width: 150px;
    height: auto;
    transition: all 0.3s ease;
    margin-top: 65px; /* Reduzido em 5px */
}

/* Títulos */
main h2, .o_que_e_titulo, .objetivo_titulo {
    font-size: 18px;
    line-height: 2;
    color: #ffffff;
    margin-top: 25px; /* Reduzido em 5px */
}

/* Parágrafos */
main p, .o_que_e, .objetivo {
    text-indent: 2em;
    font-size: 13px;
    line-height: 1.5;
    color: #ccc;
    margin-top: 5px; /* Reduzido em 5px */
}

/* Lista */
.o_que_e_lista {
    margin-top: 15px; /* Reduzido em 5px */
    padding-left: 2em;
    color: #ccc;
}

/* Imagem do projeto */
.projeto-50_10 {
    width: 170px;
    height: auto;
    margin: 25px auto; /* Reduzido em 5px */
    display: block;
}

/* Botão de menu */
.menu-btn {
    display: inline-block; /* Mantido inalterado */
    position: relative; /* Permite que ele role com o conteúdo */
    background-color: #ff6600;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    z-index: 1001;
    margin-top: 20px; /* Mantido inalterado */
    margin-left: 20px;
}

/* Menu lateral */
.side-menu {
    position: fixed;
    top: 0;
    left: -200px;
    width: 200px;
    height: 100%;
    background-color: #333;
    color: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transition: left 0.3s ease;
    padding: 15px; /* Reduzido em 5px */
    z-index: 1000;
    display: none;
}

.side-menu.open {
    display: block;
    left: 0;
}

.side-menu.open ~ .menu-btn {
    display: none;
}

.close-menu-btn {
    position: absolute;
    top: 5px; /* Reduzido em 5px */
    right: 10px;
    background-color: #ff6600;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    display: none;
}

.side-menu.open .close-menu-btn {
    display: block;
}

.side-menu ul {
    list-style: none;
    padding: 0;
    margin: 15px 0; /* Reduzido em 5px */
}

.side-menu ul li {
    margin: 5px 0; /* Reduzido em 5px */
}

.side-menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.side-menu ul li a:hover {
    text-decoration: underline;
}